<div class="container">
    <div class="container-toolbar">
        <h1>Filter by keyword</h1>
        <form class="container-form">
            <div class="container-form-control">
              <button><mat-icon>search</mat-icon></button>
                <input type="text" class="container-form-input">       
            </div>       
        </form>
    </div>
    <div class="container-articles">
        <mat-card *ngFor="let article of articles" class="container-articles-item">
            <img mat-card-image src={{article.imageUrl}} alt="Photo of a Shiba Inu">
            <div class="container-articles-item-text">
                <mat-card-subtitle><mat-icon>calendar_today</mat-icon>{{article.publishedAt | date}}</mat-card-subtitle>
                <mat-card-title>{{article.title}}</mat-card-title>           
            <mat-card-content>
              <p class="article-summary">
                {{article.summary}}
              </p>
            </mat-card-content>
            </div>
            <a href="#">Read more <mat-icon>arrow_forward</mat-icon></a>
          </mat-card>
    </div>
</div>
