<header>
    <img mat-card-image src={{article.imageUrl}} alt={{article.title}}>
</header>
<div class="container">
<div class="article-container">
    <h2>{{article.title}}</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente delectus facere mollitia tenetur commodi earum nam labore quam accusantium, quo dicta provident quae ipsam neque temporibus iure alias adipisci!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nihil, commodi laudantium natus earum quisquam, labore sapiente corrupti consequatur facilis iure. Reiciendis, quam rem fuga tenetur quod praesentium sint consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit officia possimus obcaecati, nisi ab, earum nesciunt magni iure nihil deserunt aspernatur ipsam corporis sed veritatis ipsa qui mollitia odio quod!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, obcaecati cupiditate consequuntur accusantium dolor omnis vel dolores aliquid. Voluptates ipsam, consectetur ea cum ad obcaecati. Vero pariatur quos consectetur nemo!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, qui quos! Provident velit omnis, atque veritatis earum voluptates et repellat at numquam sapiente deleniti quo culpa error, magnam, asperiores cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit neque quod voluptas libero dolorum quia reprehenderit modi? Ab laudantium possimus esse neque, voluptatum officiis quis sed recusandae tempora nulla magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, pariatur maiores totam debitis cumque repellat beatae voluptatibus sequi neque eligendi quas deserunt aperiam nulla ab deleniti dolorum quidem perspiciatis nesciunt.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus sed nam aliquam magni ullam at quod excepturi magnam tenetur eligendi nostrum minima repellat quas, eius iste. Dolor nihil voluptatem doloribus?</p>
</div>
<div class="link-article">
    <a routerLink="/"><mat-icon>arrow_back</mat-icon>Back to homepage</a>
</div>
</div>
