@import "../../../styles/variables.scss";

header {
    img {
        width: 100%;
        height: 245px;
        object-fit: cover;
    }
}
.container {
    background-color: #E5E5E5;;
}
.article-container {
    position: relative;
    max-width: 1290px;
    margin: 0 auto;
    padding: 35px 75px;
    margin-top: -75px;
    z-index: 100;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #fff;
   h2 {
       margin-bottom: 50px;
       text-align: center;
       color: $main-font-color;
       font-weight: 400;
       font-size: 24px;
       line-height: 1.2;
   }
   p {
       font-size: 18px;
       line-height: 1.5;
        margin-bottom: 50px;
        color: #000;
   }
}
.link-article {
    padding: 35px 150px;
   a {
       display: flex;
       align-items: center;
       color: $main-font-color;
   }
}