@import "./styles/main.scss";

body {
    font-family: $main-font;
    margin: 0;
    padding: 0
}
*, ::before, ::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}
input {
    border: none;
    outline: none;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
a {
    color: $secondary-font-color;
    text-decoration: none;
}